html{
  padding:0;
  margin:0;
}
body{
  padding:0;
  margin:0;
  background-color: rgb(119,199,224);
}
.canvas-container{
  padding:20px;
  text-align:center;
  padding-top:50px;
}

#canvas{
  display:inline-block;
  background-color:white;
  box-shadow: 10px 10px 20px rgb(0,189,214);
}

#player-name-markup{
  text-align:center;
  position:fixed;
  top:250px;
  width:100%;
  height:150px;
  padding-top:70px;
  box-sizing:border-box;
  background-color:rgba(18, 130, 165, .5);
}